/* ----- CSS RESET ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---- Her starter min styling ----- */

/* ----- HEADER ----- */
header {
    background-color:lightgray;
    color:rgb(21, 39, 114); 
	height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
	border-bottom: 3px solid darkorange;
}

.logo {
    text-align: left; /* Venstrecentrer logo */
	margin-left: 1.5%;
	max-width: 150px;
}

.logo img {
    max-height: 150px; 
}

/* Links i menuen */
nav ul {
    list-style: none;
    display: flex;
}
nav li {
	margin-right: 135px;

}
nav a {
    text-decoration:solid;
    color:rgb(21, 39, 114);
	font-size: 22px;
	font-weight: bold;
}
nav a:hover {
    text-decoration: underline darkorange;
}

/* ------ HER STARTER MIT INDHOLD ----- */
/* Generel styling af siden */
.main{
	background: linear-gradient(to bottom, lightgray, #70a2f9, lightgray); /* Gradient baggrund */
    max-width:100%;
    text-align: center;
}

.brødtekst{
	font-size: 20px;
	color:rgb(21, 39, 114);
	line-height: 150%;
	text-align: center;
}

/* --- INTRODUKTION m. billede --- */
#titel_artikel{
	font-size: 48px;
	color:rgb(231, 129, 5);
	text-align: center;
	font-weight: bold;
	padding: 3%;
}



#forord{
	font-size: 20px;
	color:rgb(21, 39, 114);
	text-align: center;
	padding-left: 16%;
	padding-right: 16%;
	padding-top: 2.5%;
	padding-bottom: 2%;
	line-height: 150%;
}

/* Styling af billede */
#tøjstativ_billede{
	max-width: 70%;
	padding-left: 2%;
}

#brydelinje_1{
	font-size: 35px;
	font-weight: bold;
	color: darkorange;
}

/* --- TEKST DEL 1 --- */
#jeans_billede{
	max-width: 60%;
	padding-top: 5%;
	padding-bottom: 2%;
}

#overskrift_1{
	font-size: 35px;
	font-weight: bold;
	color: rgb(208, 117, 5);
}

#gb-butik_forord{
	font-size: 20px;
	color:rgb(21, 39, 114) ;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2.5%;
	padding-bottom: 2%;
	line-height: 150%;
}

/* --- TEKST DEL 2 --- */
#brydelinje_2{
	font-size: 35px;
	font-weight: bold;
	color: darkorange;
	opacity: 60%;
}

#overskrift_2{
	font-size: 35px;
	font-weight: bold;
	color: rgb(21, 39, 114);
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.links{
	color:rgb(21, 39, 114);
	font-size: 20px;
	text-decoration: underline;
}

#reuse_overskrift{
	padding-top: 5%;
	font-size: 24px;
	font-weight: bold;
	color: rgb(208, 117, 5);
}
#reuse{
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 1%;
	margin-left: 14%;
	margin-right: 14%;
}

#reuse_link{
	margin-bottom: 2%;
}

/* --- Styling af billede */
#lænestol_billede{
	margin-top: 2%;
	margin-right: 5%;
	max-width: 40%;
	position: relative;
	left: -1%;
}

#tallerkner_billede{
	max-width: 20%;
	position: relative;
	right: 2%;
}

/* --- TEKST DEL 3 --- */
#brydelinje_3{
	font-size: 35px;
	font-weight: bold;
	color: darkorange;
	opacity: 60%;
}

#gb_omegn_overskrift{
	padding-top: 5%;
	font-size: 35px;
	font-weight: bold;
	color: rgb(208, 117, 5);
}

#omegn_brødtekst{
	padding-top: 1.5%;
	margin-left: 16%;
	margin-right: 16%;
}

/* ----- TEKSTBOKS - FLEXBOX ----- */

.tekstboks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tekst-boks {
    flex: 1; 
    max-width: 45%; 
    border: 6px solid rgb(208, 117, 5);
	border-radius: 5px;
    padding: 1%;
    margin: 4%;
	background-color: lightgray;
}

.tekstboks-content {
    text-align: center;
}

.overskrift-tekstboks {
    font-size: 28px;
	font-weight: bold;
	color: rgb(9, 21, 70);
	margin: 5%;
}

/* ----- AFSLUTNING ---- */
#afslutning_tekst{
	font-size: 22px;
	color:rgb(21, 39, 114);
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 16%;
	margin-right: 16%;
	line-height: 125%;
}


/* ----- FOOTER STARTER HER ----- */

footer {
	display: flex;
	flex-direction: row;
    height: 125px;
    background-color: lightgray; 
    color:rgb(21, 39, 114); 
    padding: 20px;
    border-top: 3px solid darkorange;
    justify-content: space-around;
	align-content: end;
	align-items: center;
}

.footer-overskrift{
	font-size: 20px;
	color: rgb(21, 39, 114);
	font-weight: bold;
	text-align: center;
	margin-bottom: 5%;
}
.footer-item {
	padding: 2px;
    font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.footer-row{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.links{
	color: rgb(21, 39, 114);
	text-decoration: none;
	color: inherit;
}

#fb_ikon{
	max-width: 20%;
	margin-left: -65%;
}

#ig_ikon{
	max-width: 20%;
	margin-right: -65%;
}





